# Все значения имеют дефолты; редактировать ничего не нужно.
# NODE_IP=            # автоопределение
DOMAIN=hack.local
EXPOSE=nodeport       # nodeport (metallb пока не реализован)
# METALLB_RANGE=192.168.1.240-192.168.1.250
INVENTORY=ansible/inventory/local.yml
