extends: default
ignore: |
  .venv/
  artifacts/
rules:
  line-length: disable
  document-start: disable
  comments: { min-spaces-from-content: 1 }
  comments-indentation: disable
  braces: { min-spaces-inside: 0, max-spaces-inside: 1 }
  brackets: { min-spaces-inside: 0, max-spaces-inside: 1 }
  truthy: { allowed-values: ["true", "false"], check-keys: false }
  octal-values: disable
