apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ advertise_ip }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: v{{ versions.kubernetes.patch }}
networking:
  podSubnet: {{ versions.kubernetes.pod_cidr }}
  serviceSubnet: {{ versions.kubernetes.service_cidr }}
apiServer:
  certSANs: ["{{ advertise_ip }}", "127.0.0.1", "localhost"]
controllerManager:
  extraArgs:
    - { name: bind-address, value: "0.0.0.0" }
scheduler:
  extraArgs:
    - { name: bind-address, value: "0.0.0.0" }
etcd:
  local:
    extraArgs:
      - { name: listen-metrics-urls, value: "http://0.0.0.0:2381" }
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
serverTLSBootstrap: true
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
metricsBindAddress: 0.0.0.0:10249
